[Unit]
Description=Avni Bahmni Integrator
After=postgresql-9.6.service

[Service]
User=bahmni

WorkingDirectory=/root/abi-host
ExecStart=/root/abi-host/start-ab-integrator.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
