#!/bin/bash
#/usr/java/jdk-15.0.2+7/bin/java --enable-preview -jar -Xdebug -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=6031 metadata-0.0.1-SNAPSHOT.jar
/usr/java/jdk-15.0.2+7/bin/java --enable-preview -jar metadata-migrator-0.0.1-SNAPSHOT.jar --app.config.location=../ashwini/config --avni.impl.user.id=0 --openmrs.mysql.port=3306 --avni.db.port=-1 --app.config.common.audit=false --avni.impl_org.db.user=foo --openmrs.refdata.admin.id=0 --openmrs.txdata.admin.id=0 --openmrs.mysql.password=password Adhoc
